<div class="container">
    <span>{{errors}}</span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <div class="form-group">
            <input type="email" name="email" formControlName="email" class="form-control"  placeholder="Email">
            <div class="alert-danger px-2" *ngIf="(loginFormControls.email.touched || submitted) && loginFormControls.email.errors">
                Email is <strong>required</strong>
            </div>
            <div class="alert-danger px-2" *ngIf="loginFormControls.email.errors && loginFormControls.email.errors.email">
                Please enter a valid email address
            </div>
        </div>
        <div class="form-group">
            <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password">
            <div class="alert-danger px-2" *ngIf="(loginFormControls.password.touched || submitted) && loginFormControls.password.errors && loginFormControls.password.errors.required" >
                Password is <strong>required</strong>
            </div>
            <div class="alert-danger px-2" *ngIf="loginFormControls.password.errors && loginFormControls.password.errors.maxlength" >
                Please enter a Password no more than 16 characters.
            </div>
            <div class="alert-danger px-2" *ngIf="loginFormControls.password.errors && loginFormControls.password.errors.minlength" >
                Please enter a Password at least 6 characters.
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" [disabled]="submitted" class="btn btn-primary px-4 mr-3">Login</button>
                <button type="button" [routerLink]="['/register']" class="btn btn-primary px-4 mr-3">Register</button>
            </div>
        </div>
    </form>
</div>